html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 1em;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  margin-bottom: 0.5em;
  padding: 1em;
}

a {
  color: #333;
  text-decoration: none;
}

li:last-child {
  margin-bottom: 0;
}

li:hover {
  background-color: #4d4d4d;
}

li:hover a {
  color: #fff;
}
